<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="full" (click)="backToHomePage()">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">Home</ion-title>
    <ion-title slot="end">Trending Films</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="openDetails()">Go to Details with function</ion-button>
  <ion-button expand="full" routerLink="/tabs/films/42" routerDirection="forward">Go to Details with link</ion-button>
  <ion-button expand="full" (click)="gotoPeople()">Switch to People</ion-button>
  <ion-button expand="full" (click)="gotoPlanets()">Switch to Planets</ion-button>

  <ion-list>
    <ion-item button *ngFor="let item of movies">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path"/>
      </ion-avatar>
      <ion-label> {{ item.title }}
        <p>{{ item.release_date | date: 'y' }}</p>
      </ion-label>
      <ion-badge slot="end"> {{ item.vote_average }}</ion-badge> 
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content 
    loadingSpinner="bubbles" 
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>

<!-- class="films-btn" -->